:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 230px;
  border-radius: 80px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
button:hover {
  border-color: white;
  transform: scale(120%);
  -webkit-transform: scale(120%);
  -moz-transform: scale(120%);
  -ms-transform: scale(120%);
  -o-transform: scale(120%);
}
button:focus,
button:focus-visible {
  outline: 4px auto white;
}

/* New CSS below here */
.App{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul{
  margin: 0;
  padding: 0;
}
.header{
  text-align: center;
  margin: 30px;
}

.header h1{
  margin: 0;
}

.search-input{
  width: 300px;
  border-radius: 14px;
  border: 1px solid #f9f9f9;
  padding: 12px 14px;
  margin: 20px 0px;
}

.search-container{
  text-align: center;
}

.footer{
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.category{
  list-style: none;
  display: flex;
  margin: 10px;
  padding-left: 20px;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.loading-text{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 80px;
}

.recipes{
  padding: 6px 4px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.recipes-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.article {
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.article:hover{
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}

.image {
  object-fit: cover;
  width: 208px;
  height: 275px;
  border-radius: 16px;
  mask-image: linear-gradient(to top, rgba(0,0,0,0) -35%,rgba(0,0,0,0.65) 40%);
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) -35%,rgba(0,0,0,0.65) 40%);
}

.image-header-text {
  font-size: 16px;
  color: white;
  text-align: start;
  position: absolute;
  bottom: 27px;
  height: fit-content;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 7px;
}

.image-para-text{
   font-size: 13px;
  color: white;
  text-align: start;
  position: absolute;
  bottom: 10px;
  height: fit-content;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.year-text{
  padding: 1px 2px;
  margin-left: 4px;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  opacity: 80%;
  color: #1a1a1a;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media (max-width: 755px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .category{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-left: 20px;
  }

  .recipes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .image {
    object-fit: cover;
    width: 190px;
    height: 251px;
    border-radius: 16px;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) -35%,rgba(0,0,0,0.65) 40%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) -35%,rgba(0,0,0,0.65) 40%);
  }
}

@media (max-width: 430px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .category{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-left: 20px;
  }

  .recipes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .image {
    object-fit: cover;
    width: 170px;
    height: 225px;
    border-radius: 16px;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) -35%,rgba(0,0,0,0.65) 40%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) -35%,rgba(0,0,0,0.65) 40%);
  }
}

@media (max-width: 376px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .category{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-left: 20px;
  }

  .recipes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .image {
    object-fit: cover;
    width: 220px;
    height: 291px;
    border-radius: 16px;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) -35%,rgba(0,0,0,0.65) 40%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) -35%,rgba(0,0,0,0.65) 40%);
  }
}